h1 Weight Tracking
form(method="post", action="/")
  .label Record Weight
  input(name="day[weight]")
  input(type="submit")
.chart-container
table.history
  tr
    th Date
    th Target
    th Actual
  - for( i in data )
    - if (data.hasOwnProperty(i))
      tr.item
        td.date= new Date(data[i].date).toDateString()
        td.target= data[i].target.toFixed(2)
        td.weight= data[i].weight
input#data-set(type="hidden", value="#{JSON.stringify(data)}")
