!!!
html
  head
    title Weight Tracking
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    != body
    script(type='text/javascript', src='/javascripts/d3.js')
    script(type='text/javascript', src='/javascripts/script.js')
