body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  float:left;
  font-size: 1em;
  color: #333;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 50px;
}
tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(odd) {
  background-color: #fff;
}
td, th {
  height: 25px;
  line-height: 25px;
  padding: 0px 8px;
  text-align: center;
  display:none;
  left: 50px;
  z-index: -100;
}
.expand td, .expand th {
  width: auto;
  display:table-cell;
}
table td:nth-child(1), table th:nth-child(1) {
  width: auto;
  display:table-cell;
}
.chart {
  font-size:9pt;
  float:left;
}
.chart rect {
  stroke: white;
}
.chart rect:hover {
}
.chart .target {
  fill: steelblue;
  fill-opacity: .5;
}
.chart .actual {
}
.chart .on-target {
  fill: gray;
}
.chart .off-target {
  fill: gray;
}
.chart div {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 0px;
  margin: 1px;
  color: white;
  width: 20px;
}
.chart div div {
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.chart div .max {
  position: static;
  line-height: 10px;
  color: black;
  background-color: white;
}
.chart div .min {
  position: static;
  line-height: 10px;
  color: black;
  background-color: white;
}
